@import url('https://fonts.googleapis.com/css2?family=Jaini&display=swap');

body {
    background-image: url("../images/restaurant.jpg");
    background-repeat: no-repeat;
}

#personal_page {
    background-image: url("../images/personal_2.jpg");
}

.jaini {
    font-family: "Jaini", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1.home_title {
    font-size: 4rem;
}

#home_form_container {
    border: purple solid 0.2rem;
    border-radius: 5%;
}

input.form_input {
    width: 50%;

}

input.form_input:active {
    border-bottom: blue solid 2px;
}

#login_form *:not(label) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#results_container *:not(#reviews_space *) {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#results_container > h3 {
    background-color: rgba(25, 135, 84, 0.5);
}

#reviews_space *, #review_form *{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 576px) {
    #form_inside {
        border: none !important;
        width:100% !important;
    }
    
    #login_form * {
        font-size: larger;
        text-align: center !important;
        width: 100% !important;
    }

    #icon {
        width: 64px;
    }

    h1.home_title {
        font-size: xx-large;
    }

    #login_form button[type="submit"] {
        margin-top: 3rem !important;
    }

    #results_container *, #logout_container * {
        width: 100% !important;
    }
}

#user_info  li {
    margin-top: 0.2rem !important;
    margin-bottom: 0.2rem !important;
}

#review_form select {
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
}

#review_form label {
    font-size: 1rem;
}

.form-check-input {
    width: 20px;
    height: 20px;
}